#card {
    max-width: 250px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #505050;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
}

#card p {
    color: white;
    text-decoration: none;
}

ul {
    width: 100%;
    position: relative;
    text-align: left;
    padding-left: 0px;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #75aea6;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    font-size: 12px;
}

#characterStats {
    display: block;
    flex-grow: 1;
}