

#root {
  box-sizing: border-box;
  text-align: center;
}

#header {
  background-image: url('./assets/rickandmorty-header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 255px;
}

#pageBody {
  background-color: #24282a;
  text-decoration: none;
}

#loadMoreButton {
  display: inline-block;
}

#searchBar {
  background-color: #24282a;
  margin-left: 5px;
  width: 1200px;
  color: white;
}